.nvbar {
    margin-bottom: 0rem;
    flex-wrap: wrap;
}


.nav_links {
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}

.nav_links > div {
    padding: 0.3rem;
    /* transition: transform 1s cubic-bezier(0.9, 0, 0.3, 0.9); */
}

.logo {
    height: 50px;
    object-fit: contain;
    object-fit: fill;
}

.search_container {
    display: grid;
    place-items: center;
}

.search {
    position: relative;
    box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1);
    overflow: hidden;
    background-color: white;
    border-radius: 4rem;
    width: 50px;
    height: 50px;
    transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
    padding:0px 10px !important;
}

.search_input{
    width: calc(100% - 56px);
    height: 100%;
    border: none;
    outline: none;
    opacity: 0;
    font-size:1.2rem ;
    
}

.search_button {
    position: absolute;
   top: 0;
   bottom: 0;
   right: 2px;
   width: 46px;
  height: 46px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
    transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search_button .search_icon,
.search_button .search_close{
    position: absolute;
    font-size: 1.5rem;
    cursor: pointer;
    transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
    
}

.search_button .search_close{
    opacity: 0;
}

.show-search {
  width: 100%;
}
  .show-search .search_input {
    opacity: 1 ;
    pointer-events: initial;
  }
  .show-search .search_button {
    transform: rotate(90deg);
  }
  .show-search .search_icon {
    opacity: 0;
  }
  .show-search .search_close {
    opacity: 1;
  }
  

  @media (max-width : 600px){
    .nvbar > div{
        justify-content: center;
    }
  }

  .sidemenu-icon{
    font-size: 2rem;
    color: white;
    margin: 0 1rem 0 1rem;
    cursor: pointer;
  }


  .modal-content {
    background-color: rgb(33 37 41)  !important;
  }

  .modal-content {
    width: 80% ;
    margin: 0 auto !important;
  }
  .modal-body {
    padding: 0;
  }
  .btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
  }
  h1 {
    font-size: 2.3em;
    font-weight: bold;
  }
  .myform {
    padding: 0.5em 1em;
    max-width: 100%;
    color: #fff;
    /* box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18); */
  }
  @media (max-width: 576px) {
    .myform {
      max-width: 90%;
      margin: 0 auto;
    }
  }
  .form-control:focus {
    box-shadow: inset 0 -1px 0 #7e7e7e;
  }
  .form-control {
    background-color: inherit;
    color: #fff;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
  }
  .myform .btn {
    width: 100%;
    font-weight: 800;
    border-radius: 0;
    padding: 0.5em 0;
    background-color: inherit;
    color: #fff;
  }
  .myform .btn:hover {
    background-color: #fff;
    color: black;
    border-color: #fff;
  }
  p {
    text-align: center;
    padding-top: 2em;
    color: grey;
  }
  p a {
    color: #e1e1e1;
    text-decoration: none;
  }
  p a:hover {
    color: #fff;
  }

  .divider{
    padding: 0 5px 0 5px;
    background-color: rgb(33 37 41);
  }
  .divider-con{
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #979faf;
    line-height: 0.1em;
    margin-left: 10%;
  }
  .google-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
  }

  .error-span{
    color: red;
    opacity: 0.9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.profile-pic img{
  width: 2.5rem;
  border-radius: 50%;
}

.dropdown-menu{
  right: 0;
  left: auto !important;
}
.dropdown-toggle::after{
  content: none !important;
}
.dropdown-toggle{
  margin: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
}