.home{
    display: flex;
    flex-direction: column;
    display: relative;
    height: 100%;
    width: 100%;
    background: rgb(42,32,84);
    background: linear-gradient(138deg, rgba(42,32,84,1) 0%, rgba(16,15,21,1) 50%, rgba(42,32,84,1) 100%);
}

.short_title{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 1.2rem;
}
.imp{
    background-image: linear-gradient(138deg,#215dee   0%,  #B61CFF 100%);
    background-clip: text;
    color: transparent;
}

.discription{
    font-size: 1.1rem;
    line-height: 1.9rem;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
