.note{
    width: auto;
    height: 20rem;
    
    color: white;
    text-align: center;
    border: 2px solid rgb(35, 34, 34);
    padding: 0.2rem;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.note-info{
    display: flex;
    margin: 6px;
    /* height: 20%; */
    justify-content: center;
}

.note-title{
    flex-grow: 1;
}

.note-owner{
    width: 2.5rem;
    border-radius:50% ;
}

.note .note-img{
    width: 100%;
    height: 82%;
    
    object-fit: cover;
}