.userpage-container{
    background-color: rgba(16, 15, 21, 1);
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.user-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter{
    display: flex;
    width: 80%;
}


.file-container{
    display: grid;
    grid-template-columns: auto  ;
    gap: 1rem;
    justify-content: space-around;
}

@media (min-width: 600px) {
    .filter{
        width: 50%;
    }
     .file-container{
        grid-template-columns: repeat(4, minmax(0, 1fr)) !important  ;  
     }
  }