.nvbar{
    margin-bottom: 3rem;
}

.nav_links{
    font-size: 1.5rem;
    color: white;
}
.nav_links div{
    padding: 1rem;
}
.logo{
    width: 200px;
    height: 70px;
    object-fit: contain;
    object-fit:fill;
}

.ex_button{
    font-size: 1.9rem;
    padding: 0 2.5rem;
    text-decoration: none;
    border: none;
    background: black;
    border-radius: 99px;
    text-align: center;
    color: white;
    vertical-align: middle;
    font-weight: 600;
    background-image: linear-gradient(138deg,#215dee   0%,  #B61CFF 100%);
    margin-bottom: 2rem;
}