.short-dist{
    margin: 0.6rem;
    font-size: 1.3rem;
    border-radius: 0.5em;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 2rem;
}
@media (min-width:600px){
    .short-dist{
        flex-direction: row;
    }
    
    .short-dist .text-str{
        width: 50%;
    }
    .short-dist .rpimg{
        width: 40%;
    }
}

@media (max-width:600px){
    .text-str{
        text-align: center;
    }
}

.rpimg{
    border-radius: 1em ;
    width: 100%;

}
.text-str h1{
    color: white;
}
.text-str{
    width: 100%;
    margin: 0.5em;
    color: gray;
    font-weight: 600;
}